@import 'reset';

:root {
  --Blauw: #3c5969;
  --Donker-Groen: #447676;
  --Groen: #439982;
  --Licht-Groen: #a2cc77;
  --Geel: #ebca69;
  --Grijs: #979797;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

nav {
  background: var(--Donker-Groen);

  z-index: -10;
  position: fixed;

  display: flex;
  flex-direction: column;

  height: 100vh;
  min-width: 20vw;

  & .nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;

    & li {

      border-bottom: 2px solid var(--Blauw);

      & a {
        display: inline-block;

        width: 100%;
        height: 100%;
        padding: 4vh 2vw;

        text-decoration: none;
        font-weight: 100;
        color: white;

        transition: all .3s ease;

        &:hover {
          background: var(--Blauw);
        }
      }
    }

    & .w-icon {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & p {
        margin-right: 2rem;
      }

      & .close {
        background: url(../assets/svg/Icons/Close.svg) no-repeat center;
      }

      & .more-menu {
        background: url(../assets/svg/Icons/More-menu.svg) no-repeat center;
      }

      & span {
        background-size: contain;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    & .align-right {
      justify-content: flex-end;
    }

    & .more-list a {
      font-weight: normal;
      padding-left: 4vw;
    }
  }
}

.close-list {
  display: none;
  transition: all .5s ease;
}

.open-list {
  display: inline;
  transition: all .5s ease;
}

.container, .fixed-nav {
  margin: 0;
  z-index: 1;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-open {
  position: absolute;
  width: 100vw;
  margin-left: 20vw;
  display: block;
  box-shadow: -5px 0 10px rgba(0, 0, 0, .2);
  transition: all .5s ease;
}

.nav-close {
  transition: all .5s ease;
}

.fixed-nav {
  height: 100vh;
}

.att-fixed {
  position: fixed;
  background-attachment: fixed;
}

.hidden {
  visibility: hidden;
}

.icon {
  display: block;
  width: 2vw;
  height: 2vw;
  margin: 1rem;
}

.top-nav {
  z-index: 10000;
  background: white;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
  padding: 0 2vw;

  & .menu {
    background: url(../assets/svg/Icons/Menu.svg) no-repeat center;
    background-size: contain;
  }

  & .search {
    background: url(../assets/svg/Icons/Search.svg) no-repeat center;
    background-size: contain;
  }

  & .logo {
    background: url(../assets/img/dok/dokgentlogo.png) no-repeat center;
    background-size: contain;
    width: 10vw;
    height: 3vw;
    margin-left: auto;
  }
}

.row-container {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 85vh;
}

main {
  flex-grow: 1;
  background: var(--Geel);
  height: 100%;
  width: 90vh;
}

.social {
  flex-shrink: 1;

  & .fb {
    text-align: center;
    background: url(../assets/svg/Icons/Facebook.svg) no-repeat center;
    background-size: contain;
  }

  & .twitter {
    background: url(../assets/svg/Icons/Twitter.svg) no-repeat center;
    background-size: contain;
  }
}

.street {
  width: 7vh;
  flex-shrink: 1;
  font-size: 1.3rem;
  white-space: nowrap;
  text-align: right;
  align-self: center;
  transform: rotate(90deg);
  color: var(--Blauw);
}

.home-header {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin: 0 5vw;
  color: white;
}

.top-header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 25%;
  border-bottom: 3px solid white;

  & h1 {
    line-height: 60%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15vw;
  }

  & h2 {
    font-size: 3vw;
    margin-left: 2vw;
  }
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14vw;
  }

  & p {
    font-weight: normal;
    margin: 1vh 3vw 0 2vw;
    line-height: 180%;
  }
}

.quick-nav {
  z-index: 0;
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 20vh;

  display: flex;
  justify-content: center;

  & ul {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & li {
      z-index: 1;
      height: 100%;
      width: 100%;
      margin: .4vw;

      transition: all .5s ease;

      & a {
        display: flex;
        align-items: center;
        justify-content: center;

        background: url(../assets/img/menu/praktisch.jpg);
        background-size: cover;

        width: 100%;
        height: 100%;

        text-decoration: none;

        & p {
          color: white;
          font-weight: bold;
          font-size: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          line-height: 160%;
          width: 100%;
          height: 100%;
          background: rgba(60, 89, 105, .5);

          &:hover {
            color: var(--Geel);
          }
        }
      }

      &:hover {
        z-index: 2;
        margin-bottom: 5vh;
      }
    }
  }
}

.zones {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 20vh;

  display: flex;
  justify-content: center;

  & .close-zones {
    margin: 0 1vw;

    & a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url(../assets/svg/Icons/Arrow-left.svg) no-repeat center;
      background-size: contain;
      transition: all .3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.quick-invisible {
  display: none;
  visibility: hidden;
}

.home-container {
  padding: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  align-self: flex-start;
  display: flex;
  position: absolute;
  height: 60vh;

  & ul {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  & li {
    color: var(--Blauw);
    font-weight: 100;
    font-size: 2rem;
  }

  & .bar {
    background: red;
    position: relative;
  }

  & .full-load {
    position: absolute;
    display: block;
    background: var(--Grijs);
    height: 100%;
    width: 2px;
  }

  & .fill-load {
    position: absolute;
    display: block;
    background: var(--Geel);
    height: 10%;
    width: 2px;
  }
}

.intro-text {
  z-index: 10;
  margin-top: 10vh;
  width: 65%;

  & h1 {
    color: var(--Geel);
    margin-bottom: 1vh;
  }

  & p {
    width: 65%;
    line-height: 180%;
    color: var(--Blauw);
  }
}

.verwachten {
  z-index: 10;
  margin-top: 15vh;
  align-self: flex-start;
  width: 80%;
  margin-left: 3vw;

  & h1 {
    position: absolute;
    font-weight: bold;
    font-size: 6vw;
    margin-left: 10vw;
    transform: translate(0%, -50%);
    color: var(--Blauw);
  }

  & h2 {
    font-weight: bold;
    font-size: 8vw;
    text-align: center;
    color: var(--Geel);
    position: absolute;
    transform: translate(5%, 65%) rotate(-90deg);
    right: 0;
  }
}

.program {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10vh;

  & .item {
    overflow: hidden;
    background: var(--Blauw);
    width: 16vw;
    height: 16vw;

    & img {
      z-index: 0;
      transition: all .3s ease;
    }

    & .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: .8em;
      color: var(--Groen);
      padding: 1.3vw 3vh;

      & h1 {
        font-size: 1.4em;
      }
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}

.info-alg {
  display: flex;
  align-items: flex-start;
  align-self: flex-end;
  width: 90%;
  margin-top: 20vh;

  & > div {
    width: 95%;

    & p {
      color: var(--Blauw);
      width: 50%;
      line-height: 200%;
      margin-bottom: 2vh;
      font-size: 1.8rem;
    }
  }

  & img {
    position: absolute;
    right: 0;
    width: 40%;
    object-fit: contain;
  }
}

.big-letter {
  z-index: 1;
  position: absolute;
  font-weight: bold;
  color: rgba(60, 89, 105, .05);
  font-size: 55rem;
}

.letter-d {
  right: 5vw;
  margin-top: -20%;
}
