@import 'reset';

:root {
  --Blauw: #3c5969;
  --Donker-Groen: #447676;
  --Groen: #439982;
  --Licht-Groen: #a2cc77;
  --Geel: #ebca69;
  --Grijs: #979797;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

nav {
  background: var(--Donker-Groen);

  z-index: -10;
  position: fixed;

  display: flex;
  flex-direction: column;

  height: 100vh;
  min-width: 20vw;

  & .nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;

    & li {

      border-bottom: 2px solid var(--Blauw);

      & a {
        display: inline-block;

        width: 100%;
        height: 100%;
        padding: 4vh 2vw;

        text-decoration: none;
        font-weight: 100;
        color: white;

        transition: all .3s ease;

        &:hover {
          background: var(--Blauw);
        }
      }
    }

    & .w-icon {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & p {
        margin-right: 2rem;
      }

      & .close {
        background: url(../assets/svg/Icons/Close.svg) no-repeat center;
      }

      & .more-menu {
        background: url(../assets/svg/Icons/More-menu.svg) no-repeat center;
      }

      & span {
        background-size: contain;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    & .align-right {
      justify-content: flex-end;
    }

    & .more-list a {
      font-weight: normal;
      padding-left: 4vw;
    }
  }
}

.close-list {
  display: none;
  transition: all .5s ease;
}

.open-list {
  display: inline;
  transition: all .5s ease;
}

.container, .fixed-nav {
  margin: 0;
  z-index: 1;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-open {
  position: absolute;
  width: 100vw;
  margin-left: 20vw;
  display: block;
  box-shadow: -5px 0 10px rgba(0, 0, 0, .2);
  transition: all .5s ease;
}

.nav-close {
  transition: all .5s ease;
}

.fixed-nav {
  height: 100vh;
}

.att-fixed {
  position: fixed;
  background-attachment: fixed;
}

.hidden {
  visibility: hidden;
}

.icon {
  display: block;
  width: 2vw;
  height: 2vw;
  margin: 1rem;
}

.top-nav {
  z-index: 99999999999999;
  background: white;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
  padding: 0 2vw;

  & .menu {
    background: url(../assets/svg/Icons/Menu.svg) no-repeat center;
    background-size: contain;
  }

  & .search {
    background: url(../assets/svg/Icons/Search.svg) no-repeat center;
    background-size: contain;
  }

  & .logo {
    background: url(../assets/img/dok/dokgentlogo.png) no-repeat center;
    background-size: contain;
    width: 10vw;
    height: 3vw;
    margin-left: auto;
  }
}

.search-header {
  padding: 0;
  width: 100%;
  height: 55%;
  display: flex;
  margin: 0 1vw;

  & input[type=text] {
    outline: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--Blauw);
    font-family: Avenir;
    color: var(--Blauw);
    font-size: 1.2rem;
    transition: all .3s ease;
  }

  & input[type=submit] {
    appearance: none;
    background: none;
    border: none;
    border-bottom: 1px solid var(--Blauw);
    right: 0;
    font-family: Avenir;
    color: var(--Blauw);
    font-size: 1.2rem;
    transition: all .3s ease;

    &:hover {
      color: var(--Geel);
    }
  }
}

.search-overlay {
  z-index: 9999999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--Blauw);
  opacity: .5;
  bottom: 0;
  transition: all .3s ease;
}

.away {
  display: none;
}

.row-container {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 85vh;
}

main {
  flex-grow: 1;
  background: var(--Geel);
  height: 100%;
  width: 90vh;
}

.social {
  flex-shrink: 1;

  & .fb {
    text-align: center;
    background: url(../assets/svg/Icons/Facebook.svg) no-repeat center;
    background-size: contain;
  }

  & .twitter {
    background: url(../assets/svg/Icons/Twitter.svg) no-repeat center;
    background-size: contain;
  }
}

.street {
  width: 7vh;
  flex-shrink: 1;
  font-size: 1.3rem;
  white-space: nowrap;
  text-align: right;
  align-self: center;
  transform: rotate(90deg);
  color: var(--Blauw);
}

.home-header {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin: 0 5vw;
  color: white;
}

.top-header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 25%;
  border-bottom: 3px solid white;

  & h1 {
    line-height: 60%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15vw;
  }

  & h2 {
    font-size: 3vw;
    margin-left: 2vw;
  }
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14vw;
  }

  & p {
    font-weight: normal;
    margin: 1vh 3vw 0 2vw;
    line-height: 180%;
  }
}

.quick-nav {
  z-index: 0;
  position: absolute;
  bottom: 0;

  width: 80%;
  height: 20vh;

  display: flex;
  justify-content: space-around;

  & ul {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & li {
      z-index: 1;
      height: 100%;
      width: 100%;
      margin: .4vw;

      transition: all .5s ease;

      & a {
        display: flex;
        align-items: center;
        justify-content: center;

        background: url(../assets/img/menu/praktisch.jpg);
        background-size: cover;

        width: 100%;
        height: 100%;

        text-decoration: none;

        & p {
          color: white;
          font-weight: bold;
          font-size: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          line-height: 160%;
          width: 100%;
          height: 100%;
          background: rgba(60, 89, 105, .5);

          &:hover {
            color: var(--Geel);
          }
        }
      }

      &:hover {
        z-index: 2;
        margin-bottom: 5vh;
      }
    }
  }
}

.zones {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 20vh;

  display: flex;
  justify-content: center;

  & .close-zones {
    margin: 0 1vw;

    & a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url(../assets/svg/Icons/Arrow-left.svg) no-repeat center;
      background-size: contain;
      transition: all .3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.quick-invisible {
  display: none;
  visibility: hidden;
}

.home-container {
  padding: 4vw 4vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  z-index: 100000;
  align-self: flex-start;
  display: flex;
  position: absolute;
  left: 0;
  height: 100vh;
  width: 10vw;
  padding: 20vh 0;

  & ul {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  & li {
    color: var(--Blauw);
    font-weight: 100;
    font-size: 2rem;
  }

  & .bar {
    background: red;
    position: relative;
  }

  & .full-load {
    position: absolute;
    display: block;
    background: var(--Grijs);
    height: 100%;
    width: 2px;
  }

  & .fill-load {
    position: absolute;
    display: block;
    background: var(--Geel);
    height: 0;
    width: 2px;
  }
}

.intro-text {
  z-index: 0;
  margin-top: 10vh;
  width: 65%;

  & h1 {
    color: var(--Geel);
    margin-bottom: 1vh;
  }

  & p {
    width: 65%;
    line-height: 180%;
    color: var(--Blauw);
  }
}

.verwachten {
  z-index: 0;
  margin-top: 15vh;
  align-self: flex-start;
  width: 80%;
  margin-left: 3vw;

  & h1 {
    position: absolute;
    font-weight: bold;
    font-size: 6vw;
    margin-left: 10vw;
    transform: translate(0%, -50%);
    color: var(--Blauw);
  }

  & h2 {
    font-weight: bold;
    font-size: 8vw;
    text-align: center;
    color: var(--Geel);
    position: absolute;
    transform: translate(5%, 65%) rotate(-90deg);
    right: 0;
  }
}

.program {
  z-index: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10vh;

  & .item {
    z-index: 100;
    overflow: hidden;
    background: var(--Blauw);
    width: 16vw;
    height: 18vw;
    text-decoration: none;

    & img {
      height: 60%;
      opacity: .7;
      z-index: 0;
      object-fit: cover;
      transition: all .3s ease;
    }

    & .info {
      z-index: 111;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1vw;
      color: var(--Groen);
      padding: 1.3vw 3vh;

      & h1 {
        font-size: 1.4em;
      }
    }

    &:hover img {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.info-alg {
  display: flex;
  align-items: flex-start;
  align-self: flex-end;
  width: 90%;
  margin-top: 20vh;

  & > div {
    width: 95%;

    & p {
      color: var(--Blauw);
      line-height: 200%;
      margin-bottom: 2vh;
      width: 50%;
      font-size: 1.8rem;
    }

  }

  & img {
    position: absolute;
    width: 40%;
    object-fit: contain;
  }

  & .right {
    right: 0;
  }

  & .left {
    left: 0;
  }
}

.info-list {
  width: 100%;
  height: 45vh;

  & div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  & div ul {
    width: 40%;
    color: var(--Blauw);
    line-height: 180%;

    & li {
      margin-bottom: 2vh;
      display: flex;

      & p {
        width: 100%;
      }
    }

    & li::before {
      content: url(../assets/svg/Icons/Line.svg);
      padding-right: 18px;
    }
  }
}

.section-2, .section-3 {
  color: var(--Geel);
  font-weight: bold;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 80%;
  margin-top: 20vh;

  & h1 {
    font-size: 8vw;
  }

  & h2 {
    font-size: 6vw;
    transform: rotate(-90deg);
  }
}

.flex-reverse {
  flex-flow: row-reverse;
}

.news {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  & header {
    width: 50vw;
    height: 30vw;
    display: flex;
    justify-content: flex-end;

    & .header-container {
      align-self: center;
      margin-top: 5vw;
      right: 45vw;
      display: flex;
      align-items: center;
      justify-content: center;

      background: var(--Geel);
      position: absolute;

      width: 25%;
      height: 12vw;

      & h1 {
        padding: 2vw 5vh;
        color: white;
        font-size: 2.5vw;
        font-weight: bold;
      }
    }

    & img {
      object-fit: cover;
    }
  }

  & p {
    width: 50vw;
    padding: 5vh 2vw;
    line-height: 200%;
    color: var(--Blauw);

    & .read-more a {
      text-decoration: none;
      font-size: .8em;
      color: var(--Grijs);
      transition: all .3s ease;

      &:hover {
        color: var(--Geel);
      }

      &::after {
        content: '...';
      }
    }
  }
}

.small-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
  width: 85%;
}

.map {
  z-index: 1000;
  width: 35%;
  height: 30vh;

  & iframe {
    width: 100%;
    height: 100%;
  }
}

.location-info {
  display: flex;
  flex-direction: column;
  width: 50%;

  & p {
    line-height: 180%;
    color: var(--Blauw);
  }
}

.table-info {
  margin-top: 5vh;

  & div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;

    & p:first-child {
      font-weight: bold;
      margin-left: 5%;
    }

    & p:nth-child(2) {
      width: 60%;
    }
  }
}

form {
  padding: 2vh;

  & label {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--Geel);
  }

  & p {
    margin-top: 1vh;
    color: var(--Grijs);
    font-size: 1rem;
  }
}

.input-newsletter {
  margin-top: 2vh;
  position: relative;
  display: flex;
  border: 2px solid var(--Blauw);
  border-radius: 2px;
  padding-left: 2%;
  height: 5vh;

  & input[type=email] {
    font-family: Avenir;
    color: var(--Blauw);
    appearance: none;
    width: 80%;
    height: 100%;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  & input[type=submit] {
    position: absolute;
    right: 0;
    background: url(../assets/svg/Icons/Arrow-right.svg) no-repeat center;
    border: none;
    color: transparent;
    width: 15%;
    appearance: none;
    height: 100%;

    transition: all .3s ease;

    &:hover {
      transform: scale(1.4);
    }
  }
}

.sponsors {
  z-index: 10;
  margin-top: 20vh;
  padding: 5vh 2vw;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: var(--Geel);

  & img {
    margin: 1vw;
    width: 5vw;
    mix-blend-mode: darken;
  }

  & .own {
    width: 8vw;
    border-right: 2px solid var(--Blauw);
    padding-right: 1vw;
  }
}

.big-letter {
  z-index: 1;
  position: absolute;
  font-weight: bold;
  color: rgba(60, 89, 105, .05);
  font-size: 55rem;
}

.letter-d {
  right: 5vw;
  margin-top: -20%;
}

.letter-o {
  margin-top: -10%;
}

.letter-k {
  margin-top: 20%;
  margin-left: 30%;
}

.letter-e {
  margin-left: -35%;
  margin-top: 10%;
}

.letter-n {
  margin-top: 15%;
  margin-left: 10%;
}

.letter-t {
  margin-top: 4%;
  margin-left: -2%;
  position: absolute;
}

@media only screen and (max-width: 770px) {

  nav {
    width: 40vw;
  }

  .nav-open {
    margin-left: 40vw;
  }

  .icon {
    width: 3vw;
    height: 3vw;
  }

  .top-nav {
    height: 8vh;

    & .logo {
      height: 5vh;
    }
  }

  .row-container {
    margin-top: 5vh;
    height: 90%;
  }

  .home-header {
    margin: 0 2vw;
    padding: 5vw;
    justify-content: flex-start;

    & .bottom-header {
      flex-direction: column;

      & p {
        padding: 0 5vw;
      }
    }
  }

  .quick-nav {
    position: relative;
    margin-top: 5vh;
    flex-wrap: wrap;
    width: 100%;

    & ul {
      width: 150%;
      flex-wrap: wrap;
    }

    & ul li {
      max-width: 100px;
      max-height: 100px;

      & a p {
        font-size: 95%;
      }
    }
  }

  .quick-main-nav {
    height: 100%;
  }

  .zones {
    position: relative;
    margin-top: -30%;
  }

  .intro-text {
    width: 80%;

    & p {
      width: 100%;
    }
  }

  .program {
    width: 80%;
    flex-wrap: wrap;
    justify-content: flex-start;

    & .item {
      margin: 1vw;
      width: 200px;
      height: 200px;

      & .info {
        font-size: .8em;
      }
    }
  }

  .mobi-in {

    & > div {

      & p {
        font-size: 1.1em;

        &:first-child {
          width: 35%;
          margin-bottom: 23%;
        }
      }

      & p:not(:first-child) {
        width: 100%;
      }
    }

    & img {
      width: 55vw;
    }
  }

  .info-list {

    & div ul {
      width: 55%;

      & li p {
        font-size: 1.1em;
      }
    }

    & img {
      object-fit: cover;
      height: 45%;
    }
  }

  .news {

    & header, & p {
      width: 80%;

      & .header-container {
        right: 60vw;
      }
    }
  }

  .small-info {
    flex-direction: column-reverse;

    & .location-info {
      align-items: center;
      width: 80%;

      & > p {
        width: 80%;
      }

      & .table-info, & .newsletter {
        width: 90%;
      }
    }
  }

  .map {
    margin-top: 2vh;
    width: 70%;
    height: 35vh;
  }

  .sponsors img {
    width: 80px;
  }

  .own {
    min-width: 100px;
  }
}
